*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.Container{
    height:100vh;
    width:100%;
    background-image:url(./img3.jpeg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color:white;
    font-size: 50px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color:#f9004d;  
}
nav ul li{
    list-style-type: none;
     display: inline-block;
    padding:10px  25px;
    
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    text-transform:capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;

}
#bttn{
    background-color: #f9004d;
    color:#fff;
    text-decoration: none;
    border:2px solid transparent ;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition:2s;
}
#bttn:hover{
    transform: scale(1.2);
}
.content{
    position:absolute;
    top:50%;
    left:8%;
    transform: translateY(-50%);
}
h1{
    color:#fff;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color:#fff;
    margin-bottom: 50px; 
        font-size: 30px;
}
h4{
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 25px;
}
.newslatter form{
    width:380px;
    max-width: 100%;
    position: relative;


}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px ;
    border: 1px solid #f9004d;
    border-radius: 20px;
    outline: none;
}
.newslatter form input:last-child{
    display: inline-block;
    position:absolute;
    padding: 10px 30px ;
    border: none;
    border-radius: 20px;
    outline: none;
    border-radius: 30px;
    background-color: #f9004d;
    color:#FFF;
    top: 5px;
    right:6px;
    box-shadow : 0px 0px 35px  #858585;;
}
.about{
    width:100%;
    padding:50px;
    background-color: #191919;
    
}
.about img{
    height: auto;
    width:430px;
    margin-right: 100px;

}
 .about-text{
    width: 550px;
    margin-right: 140px;

 }
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

 }
 .about-text h2{
    color:#fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
 }
 .about-text h5{
    color:#fff;
    letter-spacing: 2px;
    font-size: 22px;

 }
 .about-text p{
    color:#fcfcfc;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 45px;
 }
 button{
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding:13px 30px;
    border-radius: 30px;
    transition: .4s;
 }
 button:hover{
    background-color:transparent;
    border:  2px solid #f9004d;
    cursor: pointer;

 }
.services{
    background: #101010;
    width: 100%;
    padding:100px 0px;
    /* display: flex; */

 }
.title h2{
    color:#fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
 }
.box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:400px;
    margin-left: 50px;
 }
.card{
    height:365px;
    width:335px;
    padding:20px 35px;
    background:#191919;
    border-radius: 20px;
    /* margin:15px; */
    position: relative;
    overflow:hidden;
    text-align: center;
 }
 .card i{
    font-size: 50px;
    display: block;
    text-align: center;
margin:25px 0px;
color:#f9004d
 }
 h5{
    color:#fff;
    font-size: 23px;
    margin-bottom: 15px;
 }
 .pra p{
    color:#fcfcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 35px;


 }
 .card .butt-one{
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding:9px 22px;
    border-radius: 30px;
    transition: .4s;  
 }
 .card .butt-one:hover{   
 background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
 }
.contactme{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactme p{
    color:#fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 35px;
}
.contactme .butt-two{
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding:13px 30px;
    border-radius: 30px;
    transition: .4s;   
}
.contactme .butt-two:hover{
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #f9004d;
    
}
footer{
    position: relative;
    width:100%;
    height:400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
footer p:nth-child(1){
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;

}
footer p:nth-child(2){
    font-size: 26px;
    color: #fff;
    width: 500px;
    text-align: center;
    line-height: 35px;
   }
   .social{
    display:flex;
   }
   .social a{
    width:50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius:50%;
    margin :22px 10px;
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
   }
   .social a:hover{
    transform:scale(1.3) ;
    transition: .3s;
   }
   .end{
    position:absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
   }
  @media only screen and (min-width:200px ) and (max-width:844px) {
    nav{
        /* background-color: aqua; */
        display:flex;
        flex-direction: column;
      
    }
    .main{
        
        display: flex;
        flex-direction: column;
    }
    .main .about-text{
display:flex;
flex-direction: column;
width: 380px;
margin-left: 140px;
align-items: center;

    }
.title h2{
    width:fit-content;
}
.content{
    margin-top: 40px;
}

 .newslatter form{
    width:350px;
 }  
 .card{
    width:250px;
    height:100%;
 }

   .services .box{
    display: flex;
    flex-direction: column;
   }
   .services h2{
    display: flex;
margin-left: 20px;

   }
   footer p:nth-child(2){
    width:350px;
   }
}
